apiVersion: v2
name: huly
version: 1.2.3
# renovate: datasource=github-releases depName=hcengineering/platform
appVersion: v0.7.353
type: application
description: Helm chart for [huly](https://github.com/hcengineering/platform)
home: https://huly.io/
icon: https://avatars.githubusercontent.com/u/87086734?s=48&v=4
keywords:
  - huly
  - huly-platform

maintainers:
  - name: BichLS
    email: work@bichls.dev
    url: https://github.com/moonlight8978

dependencies:
  - name: mongodb
    version: 18.4.8
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mongodb.enabled

  - name: minio
    version: 17.0.21
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: minio.enabled

  - name: elasticsearch
    version: 22.1.6
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: elasticsearch.enabled

  - name: extra-manifests
    alias: extra
    version: 1.0.2
    repository: https://moonlight8978.github.io/helm-charts
    condition: extra.enabled
